.card-container {
  margin-bottom: 12px;
  border-radius: 12px;
  color: black;
  background-color: #dbe67c;
  border: 1px solid rgb(173, 241, 173);
  &__content {
    position: relative;
    font-weight: 500;
    padding: 12px 16px;
    .card-icons {
      top: 7px;
      right: 8px;
      position: absolute;
      > button {
        color: rgb(12, 36, 12);
        &:hover {
          background-color: rgb(31, 56, 31);
        }
      }
    }

    > form {
      > input {
        margin: -1px;
        font-weight: 500;
        padding: 0;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
